<legend>Details</legend>
	<lable>username : {{username}}</label> 
	<label>password : {{password}}</label>
	<lable>apartment : {{apartment.address}} </label>
	<br>
	{{#linkTo 'roomie.edit' this}}Edit{{/linkTo}}
	{{#linkTo 'roomies'}}Back{{/linkTo}}