<legend>Details</legend>
	<lable>username : {{username}}</label> 
	<label>password : {{password}}</label>
	<lable>apartment : 
		{{#if apartment}}
			{{apartment.address}}
		{{else}}
			No Apartment has been added
		{{/if}}
	</label>
	<br>


