<legend>Roomies To Invite</legend>
<form class="form-search">
	<div class="control-group">
 		{{#view Yeomanwebapp.keyPressSearch valueBinding="query"}}{{/view}}
	</div>
</form>
{{#if isDisplayTableHeader}}
	<table class="table table-hover">
		<tr>
			<th>Username</th>
			<th>#</th>
		</tr>
	{{#each controller.roomiesToInvite}}
		<tr>
			<td>{{username}}</td>
			<td><button class="btn btn-success" {{action inviteRoomie this}}>Invite!</button></td>
		</tr>
	{{/each}}
	</table>
{{/if}}

