<div class="navbar">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<ul class="nav">
			    <li>{{#linkTo 'balance.monthly'}}Monthly{{/linkTo}}</li>
			    <li>{{#linkTo 'balance.yearly'}}Yearly{{/linkTo}}</li>
			</ul>
		</div>
	</div>
</div>
{{outlet}}