<div class="navbar">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">Roomies</a>
            <ul class="nav">
                <li>{{#linkTo 'balance'}}<i class="icon-list-alt"></i> Balance{{/linkTo}}</li>
                <li>{{#linkTo 'bills'}}<i class="icon-pencil"></i> Manage Bills{{/linkTo}}</li>
                <li>{{#linkTo 'roomie.myInvites'}}<i class="icon-envelope"></i> My Invites
	                <!-- calculate new invites -->
				    {{newInvitesCalc}}
					{{#if newInvitesNum}}
						  - {{newInvitesNum}} New
					{{else}}
						- no new invites
					{{/if}}
				{{/linkTo}}</li>
				</li>
                {{#view Yeomanwebapp.InviteMenuItem}}
                   {{#linkTo 'roomie.invite' disabledWhen="noApartment"}}<i class="icon-user"></i> Invite Roomies{{/linkTo}}
                {{/view}}
                <li>{{#linkTo 'roomie.edit'}}<i class="icon-edit"></i> Edit Profile{{/linkTo}}</li>
            </ul>
        </div>
    </div>
</div>   
{{outlet}}